body {
  background: #f0f0f0;
  font-family: Arial;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 50px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
}
